.memoryUploadPage {
  margin: 0 auto;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #282828;
  margin: 50px 0;
  text-align: center;
  width: 100%;
  padding-right: 20px;
}

.memoryUploadForm {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formColumns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.leftColumn,
.rightColumn {
  width: 48%;
}

.separator {
  border-left: 1px solid #ddd;
  margin: 0 20px;
  height: auto;
}

.formGroup {
  width: 100%;
  margin-bottom: 25px; /* 각 입력 필드 사이의 간격 */
}

.formGroup label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #282828;
}

.formGroup input[type="text"],
.formGroup input[type="password"],
.formGroup input[type="date"],
.formGroup textarea {
  width: 100%;
  padding: 12px 15px;
  font-size: 14px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  box-sizing: border-box;
}

.formGroup textarea {
  resize: vertical;
  height: 100px;
  max-height: 300px;
  overflow-y: auto;
}

.fileInputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.fileInputWrapper input[type="text"] {
  flex-grow: 1;
  padding: 12px 15px;
  font-size: 14px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  box-sizing: border-box;
  height: 45px; /* 텍스트 필드의 높이 맞춤 */
}

.fileInputWrapper button {
  margin-left: 10px;
  padding: 12px 15px; /* 버튼 패딩을 조정하여 텍스트 필드와 동일한 높이로 맞춤 */
  font-size: 14px;
  border: 1px solid #282828;
  background-color: #fafafa;
  border-radius: 6px;
  cursor: pointer;
  height: 45px; /* 텍스트 필드와 같은 높이로 설정 */
  width: 120px; /* 원하는 너비로 설정 */
}

.toggleLabelWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toggleLabel {
  font-size: 14px !important;
  margin-right: 10px;
  font-weight: 400 !important;
  color: #282828;
}

.toggleButton {
  width: 40px;
  height: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggleIcon {
  width: 100%;
  height: 100%;
}

.submitContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.submitButton {
  width: 400px;
  padding: 15px;
  font-size: 16px;
  color: #fafafa;
  background-color: #282828;
  margin-top: 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submitButton:hover {
  background-color: #444;
}

.inputError {
  border-color: #ff5757;
}

.errorMessage {
  color: #ff5757;
  font-size: 12px;
  margin-top: 5px;
}

.tagsContainer {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap; /* 줄바꿈이 가능하도록 함 */
}

.tag {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400 !important;
  color: #8d8d8d; /* 글자 색상 */
}

.removeTagButton {
  margin-left: 4px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #8d8d8d;
}
