.card {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  margin-bottom: 20px;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.cardWithImage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardWithoutImage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 시작 지점부터 내용을 쌓아 올림 */
  height: auto; /* 내용에 따라 높이 자동 조정 */
}

.cardPrivate {
  min-height: 150px; /* 비공개 최소 높이 */
  height: auto;
}

.image {
  width: 90%;
  height: auto;
  display: block;
  margin: 16px auto;
  border-radius: 12px;
  object-fit: cover;
}

.content {
  padding: 16px;
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #b8b8b8;
  margin-bottom: 8px;
}

.days {
  color: #282828;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: #282828;
  margin-bottom: 12px;
}

.description {
  font-size: 14px;
  color: #282828;
  margin-bottom: 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #b8b8b8;
  align-items: center;
  flex-shrink: 0;
}

.footerSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 16px;
}

.label {
  font-size: 12px;
  color: #b8b8b8;
  margin-bottom: 4px;
}

.data {
  font-size: 14px;
  color: #282828;
}

.likesSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.likes {
  display: flex;
  align-items: center;
}

.favicon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
