/* SearchBar.module.css */
.searchBar {
  display: grid;
  grid-template-columns: auto 1fr auto; /* 좌우 요소의 고정 크기와 중앙 요소의 유동적 크기 */
  align-items: center;
  padding: 15px 80px;
  gap: 10px; /* 기본 요소 간 간격 */
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tabButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tabButton:last-child {
  margin-right: 0;
}

.tabIcon {
  margin: 0 10px;
}

.searchInputWrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 30px; /* 드롭다운 버튼과의 간격을 넓힘 */
}

.searchIcon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: #b8b8b8;
}

.searchInput {
  width: 100%;
  padding: 12px 20px 12px 50px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #f4f4f4;
  color: #282828;
  outline: none;
  box-sizing: border-box;
}

.searchInput::placeholder {
  color: #b8b8b8;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dropdownButton {
  padding: 10px 25px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.dropdownButton:hover {
  background-color: #f0f0f0;
}

.arrow {
  margin-left: 10px;
  font-size: 12px;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 5px;
  width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdownItem {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.dropdownItem:last-child {
  border-bottom: none;
}

.dropdownItem:hover {
  background-color: #f8f8f8;
}

.dropdownItem:active {
  background-color: #e8e8e8;
}
